In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
#get titanic & test csv files as a DataFrame
titanic_df = pd.read_csv("titanic-passengers.csv", sep = ";")

# preview the data
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [3]:
titanic_df["Survived"]

0       No
1       No
2       No
3       No
4       No
      ...
886    Yes
887     No
888     No
889     No
890    Yes
Name: Survived, Length: 891, dtype: object

In [4]:
titanic_df.Survived

0       No
1       No
2       No
3       No
4       No
      ...
886    Yes
887     No
888     No
889     No
890    Yes
Name: Survived, Length: 891, dtype: object

In [5]:
#3.Get the count of the number of people who survived vs didn't survive
len(titanic_df[titanic_df.Survived == "Yes"])

342

In [6]:
len(titanic_df[titanic_df.Survived == "No"])

549

In [7]:
#4.Get the mode of the passenger's class (Pclass)
titanic_df.Pclass

0      2
1      3
2      3
3      3
4      1
      ..
886    2
887    3
888    3
889    3
890    2
Name: Pclass, Length: 891, dtype: int64

In [8]:
titanic_df.Pclass.mode()

0    3
dtype: int64

In [9]:
titanic_df.Fare

0      13.0000
1       7.6500
2       7.8542
3      21.0750
4      52.0000
        ...
886    30.0708
887     7.2292
888     8.6625
889     7.8958
890    26.0000
Name: Fare, Length: 891, dtype: float64

In [10]:
#5.Get the average fare paid for all passengers
titanic_df.Fare.mean()

32.204207968574636

In [11]:
#6.Get the sum of the fare paid by all passengers
titanic_df.Fare.sum()

28693.9493

In [29]:
#7.Get the sum of the fare paid by first class passengers only
titanic_df.Pclass("1")

TypeError: 'Series' object is not callable

In [13]:
#8.Get the median age of all passengers
titanic_df.Age.agg("median")

28.0

In [42]:
#9.Get the median age of second and third class customers

median_Age = []
for row in titanic_df[3]:
    median_Age = float(row[3])
    if median_Age <= 28.0:
        median_Age_ratings.append()

KeyError: 3

In [15]:
#10.Use the apply() method to create new column that marks a passenger younger if they are below mean age and older if they are above mean age

In [22]:
titanic_df.apply(titanic_df.Age<= 28.0, axis='y')
titanic_df.apply(titanic_df.Age>= 28.0, axis='o')

ValueError: No axis named y for object type <class 'pandas.core.frame.DataFrame'>

In [17]:
#11.Use map() to change values in Embarked column: C -> Cherbourg, Q -> Queenstown, S -> Southampton

In [23]:
titanic_df.applymap("C", "Cherbourg")
titanic_df.applymap("Q", "Queenstown")
titanic_df.applymap("S", "Southampton")

TypeError: applymap() takes 2 positional arguments but 3 were given

In [19]:
#12.Save your final results to your disk as a csv and make sure you can reload the new file